@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    var app = angular.module('microondasModule', []);
    app.controller('microondasController', function($scope, $http) {

        $scope.submit = function() {
            var tempoInt = parseInt($scope.tempo);
            var potenciaInt = parseInt($scope.potencia);

            var request = {
                method: 'POST',
                url: 'http://localhost:5144/Microondas/iniciar',
                data: {
                    tempo: tempoInt,
                    potencia: potenciaInt
                }
            }
            $http(request).then(
                function(response) {
                    console.log(response);
                },
                function(response) {
                    console.log(response);
                }
            );
        };
    });
</script>


<div ng-app="microondasModule" ng-controller="microondasController">
    <form ng-submit="submit()">
        <div class="col-6 ">
            <div class="row">
                <label for="tempo">Tempo</label>
                <input id="tempo" type="number" min="1" max="200" placeholder="Informe o tempo (valor entre 1 e 200)" ng-model="tempo"/>
            </div>
            <div class="row">
                <label for="potencia">Potência</label>
                <input id="potencia" type="number" min="1" max="10" placeholder="Informe a potência (valor entre 1 e 10)" ng-model="potencia"/>
            </div>
            <div class="row justify-content-between">
                <button type="submit" class="btn btn-danger col-5 my-3">Cancela/Pausa</button>
                <button type="submit" class="btn btn-success col-5 my-3">Inicia</button>
            </div>
        </div>
    </form>
</div>