@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/js/microondasModule.js"></script>


<div ng-app="microondasModule" ng-controller="microondasController">
    <form ng-submit="submit()" ng-init="onInit()">
        <div class="row justify-content-between">
            <button ng-repeat="programa in programasPadroes" type="button" class="btn btn-warning col-2" ng-click="submit(programa)">{{ programa.nome }}</button>
        </div>
        <div class="row justify-content-between mt-4">
            <button ng-repeat="programa in programasCustomizados" type="button" class="btn btn-warning col-2" ng-click="submit(programa)"><i>{{ programa.nome }}</i></button>
        </div>
        <div class="col-12 mt-4">
            <div class="row">
                <label for="tempo">Tempo</label>
                <input id="tempo" type="number" min="1" max="200" placeholder="Informe o tempo (valor entre 1 e 200)" ng-model="tempo" ng-disabled="blockInputs"/>
            </div>
            <div class="row">
                <label for="potencia">Potência</label>
                <input id="potencia" type="number" min="1" max="10" placeholder="Informe a potência (valor entre 1 e 10)" ng-model="potencia" ng-disabled="blockInputs"/>
            </div>
            <div class="row justify-content-between my-3">
                <button type="button" class="btn btn-danger col-5" ng-click="pausa()">Cancela/Pausa</button>
                <button type="submit" class="btn btn-success col-5" ng-disabled="blockInputs && estaAquecendo">Inicia</button>
            </div>
        </div>
    </form>

    <span class="row" ng-if="estaPausado">Processo de aquecimento pausado!</span>
    <span class="row" ng-if="estaAquecendo">Processo de aquecimento iniciado!</span>
    <span class="row" ng-if="estaAquecendo || estaPausado || mostrarProgresso">Progresso: <span ng-bind="progresso"></span></span>

    <div ng-if="erro.length > 0">
        <span ng-bind="erro"></span>
    </div>
</div>