@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    var app = angular.module('microondasModule', []);
    app.controller('microondasController', function($scope, $http) {

        $scope.erro = "";
        $scope.estaAquecendo = false;

        function getApiUrl() {
            var request = {
                method: 'POST',
                url: 'http://localhost:5144/Microondas/',
                data: {
                    tempo: parseInt($scope.tempo),
                    potencia: parseInt($scope.potencia)
                }
            };
            if ($scope.estaAquecendo)
                request.url += "acrescento";
            else if ($scope.tempo) {
                $scope.progresso = " ";
                $scope.mostrarStatus = true;
                request.url += "iniciar";
            }
            else {
                $scope.progresso = " ";
                $scope.mostrarStatus = true;
                request.url += "inicio-rapido";
            }
            return request;
        }

        function setAquecimentoInterval() {
            $scope.interval = setInterval(() => {
                $scope.progresso = $scope.progresso + " " + ".".repeat($scope.potencia);
                $scope.tempoRestante--;
                console.log($scope.tempoRestante);
                $scope.$apply();
            }, 1000);
        }

        function setFinalizadoTimeout() {
            setTimeout(() => {
                clearTimeout($scope.interval);
                if ($scope.tempoRestante == 0) {
                    $scope.progresso += " Aquecimento concluído";
                    $scope.estaPausado = false;
                    
                    $scope.estaAquecendo = false;
                    $scope.tempo = undefined;
                    $scope.potencia = undefined;
                }

                $scope.$apply();
            }, 1000 * $scope.tempoRestante);
        }

        $scope.submit = function() {
            $scope.statusText = "Processo de aquecimento iniciado!";
            $scope.erro = "";

            setAquecimentoInterval()
            setFinalizadoTimeout();

            if ($scope.estaPausado)
                return;

            $http(getApiUrl()).then(
                function(response) {
                    var tempoSegundos = parseInt(response.data.tempo.split(":")[2]);
                    var tempoMinutos = parseInt(response.data.tempo.split(":")[1]);
                    var tempoTotal = tempoSegundos + tempoMinutos * 60;
                    $scope.tempoRestante = tempoTotal;

                    if (!$scope.tempo)
                        $scope.tempo = tempoTotal;

                    $scope.potencia = response.data.potencia;
                    $scope.estaAquecendo = true;

                    setAquecimentoInterval()
                    setFinalizadoTimeout();
                },
                function() {
                    $scope.erro = "Ocorreu algum erro inesperado!";
                }
            );
        };

        $scope.pausa = function() {
            if ($scope.estaPausado) {
                $scope.estaPausado = false;
                $scope.progresso = "";
                $scope.estaAquecendo = false;
                $scope.mostrarStatus = false;
                $scope.tempo = "";
                $scope.potencia = "";
                return;
            }
            if (!$scope.estaAquecendo) {
                $scope.tempo = "";
                $scope.potencia = "";
                $scope.mostrarStatus = false;
                return;
            }
            $scope.estaPausado = true;
            $scope.statusText = "Processo de aquecimento pausado!";
            clearTimeout($scope.interval);
        }
    });
</script>


<div ng-app="microondasModule" ng-controller="microondasController">
    <form ng-submit="submit()">
        <div class="col-6 ">
            <div class="row">
                <label for="tempo">Tempo</label>
                <input id="tempo" type="number" min="1" max="200" placeholder="Informe o tempo (valor entre 1 e 200)" ng-model="tempo"/>
            </div>
            <div class="row">
                <label for="potencia">Potência</label>
                <input id="potencia" type="number" min="1" max="10" placeholder="Informe a potência (valor entre 1 e 10)" ng-model="potencia"/>
            </div>
            <div class="row justify-content-between">
                <button type="button" class="btn btn-danger col-5 my-3" ng-click="pausa()">Cancela/Pausa</button>
                <button type="submit" class="btn btn-success col-5 my-3">Inicia</button>
            </div>
        </div>
    </form>

    <div ng-if="mostrarStatus">
        <span class="row" ng-bind="statusText"></span>
        <span class="row">Progresso: <span ng-bind="progresso"></span></span>
    </div>

    <div ng-if="erro.length > 0">
        <span ng-bind="erro"></span>
    </div>
</div>